

.OptionsBoardComponent-container{    
    width: 75%;
    height: 300px;
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    position: relative;
    margin: 0 auto;
    margin-top: 200px;
    z-index: 500;
    background-color: #ffffff41;
    box-shadow: 5px 10px 18px #888888;
    border-radius: 15px;
}


