





.btn{     
  width: fit-content;
  height: 50px;
  position: relative;  
    cursor: pointer;
    background: #bd797471;
    color: #000000;
    border: none;
    border-bottom: 4px solid #4e4e4e9a;
    border-radius: 8px;
    margin-top: 1px;
    margin-right: 5px;
   
    font-weight: bold;
    font-size: 0.6rem;  
    transition-duration: 250ms;
    outline: none;
  }

  @media only screen and (max-width: 1228px) {
  .btn{
    width: fit-content;
  }
  }


  @media only screen and (max-width: 878px){
    .btn{
      margin-right: auto;
      margin-top: 100px;
    }
  }

  .btn span{
    text-align: center;
  font-size: 1.2rem;
  transition-duration: 250ms;
  }

  .btn:hover {
    color: #ecf0f1;
    background: #bd7974de;
    border-bottom: 4px solid #bd7974de;
  }
  .btn:hover .flecha-abajo{
    
    font-size: 32px;
  }
  
  .btn:active {
    transform: scale(.95);
    
  }

  button{
    
    cursor: pointer;
    border: none;
    background-color: transparent;
  }


 