.ModalBackground {
    width: 40%;
    height: 60%;
    margin: 0 auto;
    margin-top: 210px;
    border-radius: 20px;
    display: flex;
    z-index: 6000;
    background: #bd7974e7; position: fixed; top: -10px; left: -10px; right: -10px; bottom: -10px; display: flex; justify-content: center; align-items: center; color: white; }