.mural{
    width: 100%;
    min-width: 90%;
    min-height: 700px;
    margin: 0 auto;
    background-image: url("/src/sources/mural.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 5px 10px 18px #68655c;
    border-bottom-left-radius: 70% 60%;
	border-bottom-right-radius: 70% 60%;
    
}


@media only screen and (max-width: 1228px) {
    .mural{
        border-bottom-left-radius:20% 20%;
        border-bottom-right-radius: 20% 20%;
    }
  }


